getrf_sp_study/getrf_sp_study_zenati.aux
getrf_sp_study/getrf_sp_study_zenati.log
getrf_sp_study/getrf_sp_study_zenati.out
getrf_sp_study/getrf_sp_study_zenati.pdf
getrf_sp_study/getrf_sp_study_zenati.synctex.gz
getrf_sp_study/getrf_sp_study_zenati.tex.bak
getrf_sp_study/getrf_sp_study_zenati.toc
talk/presentation.aux
talk/presentation.log
talk/presentation.nav
talk/presentation.out
talk/presentation.pdf
talk/presentation.snm
talk/presentation.synctex.gz
talk/presentation.toc
graph.dot
graph.png
