getrf_sp_study/getrf_sp_study_zenati.aux
getrf_sp_study/getrf_sp_study_zenati.log
getrf_sp_study/getrf_sp_study_zenati.out
getrf_sp_study/getrf_sp_study_zenati.pdf
getrf_sp_study/getrf_sp_study_zenati.synctex.gz
getrf_sp_study/getrf_sp_study_zenati.tex.bak
getrf_sp_study/getrf_sp_study_zenati.toc
talk/*.aux
talk/*.log
talk/*.nav
talk/*.out
talk/*.pdf
talk/*.snm
talk/*.synctex.gz
talk/*.toc
graph.dot
graph.png
